<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MarketMastro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04D5F8351DD4BDE100CE1091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D5F84E1DD4BDE200CE1091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D5F8591DD4BDE200CE1091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
